<h2>blog</h2>
<ul><!--boop-->
<li><a href="/blog/hurricane-helene">hurricane helene | October 2024</a></li>
<li><a href="/blog/presentation-dot-sh">presentation.sh | February 2024</a></li>
<li><a href="/blog/things-i-am-thankful-for-from-2023">things i am thankful for from 2023 | December 2023</a></li>
<li><a href="/blog/im-thinking-about-something-but-i-dont-know-what-yet">i'm thinking about something but i don't know what yet | December 2023</a></li>
<li><a href="/blog/diy-sms-ftw-vs-ig-fb-etc">diy sms ftw vs ig, fb, etc. | November 2023</a></li>
<li><a href="/blog/init">init | October 2023</a></li>
</ul>

<h2>a quote</h2>
<blockquote>
<p>the first revolutions destroyed the great cultures of the women. once the men triumphed, all that was other from them was considered inferior and therefore worthy only of abuse and contempt and extinction. stories told of these times are of heroic action and terrifying defeat and silent waiting. stories told of these times make the faggots and their friends weep.<p>
<p>the second revolutions made many of the people less poor and a small group of men without color very rich. with craftiness and wit the faggots and their friends are able to live in this time, some in comfort and some in defiance. the men remain enchanted by plunder and destruction. the men are deceived easily and so the faggots and their friends have nearly enough to eat and more than enough time to think about what it means to be alive as the third revolutions are beginning.</p>
<ul>
<li><a href="https://en.wikipedia.org/wiki/The_Faggots_%26_Their_Friends_Between_Revolutions">the faggots and their friends between revolutions</a>, <a href="https://en.wikipedia.org/wiki/Larry_Mitchell_(author)">mitchell</a></li>
</ul>
</blockquote>


