<h2>home</h2>
<p>hello my name is maren and this is the domain where i've planted my little self</p>
<p>i live in the mountains in north carolina in the us</p>
<p>i do computer things and other things too</p>
<p>i'm working with two dear collaborators to build a worker-owned computer cooperative right here, in the place that we live</p>

<h2>a quote</h2>
<blockquote>
<p>"political commitment isn't a perimeter, sam; it's a parameter. don't you ever wonder? don't you ever doubt?"</p>
<ul>
<li><a href="https://en.wikipedia.org/wiki/Triton_(novel)">trouble on triton</a>, <a href="https://en.wikipedia.org/wiki/Samuel_R._Delany">delany</a></li>
</ul>
</blockquote>
<a rel="me" href="https://whistlepig.social/@stillgreenmoss"></a>

