<h2>links</h2>
<ul>
    <li><strong>git</strong>: <a href="https://codeberg.org/stillgreenmoss">codeberg.org/stillgreenmoss</a></li>
    <li><strong>also git</strong>: <a href="https://git.bunk.computer/bunk">git.bunk.computer/bunk</a></li>
    <li><strong>also also git</strong>: <a href="https://github.com/stillgreenmoss">github.com/stillgreenmoss</a></li>
    <li><strong>fediverse</strong>: <a href="https://whistlepig.social/@stillgreenmoss">whistlepig.social/@stillgreenmoss</a></li>
    <li><strong>feelings</strong>: <a href="https://tilde.town/~stillgreenmoss/feels">tilde.town/~stillgreenmoss/feels</a></li>
</ul>


<h2>contact</h2>
<ul>
    <li><strong>email</strong>: maren at this domain</li>
    <li><strong>matrix</strong>: stillgreenmoss at matrix dot org</li>
</ul>

<h2>a quote</h2>
<blockquote>
<p>"sometimes a god comes," selver said. "he brings a new way to do a thing, or a new thing to be done. a new kind of singing, or a new kind of death. he brings this across the bridge between the dream-time and the world-time. when he has done this, it is done. you cannot take things that exist in the world and try to drive them back into the dream, to hold them inside the dream with walls and pretenses. that is insanity. what is, is. there is no use pretending, now, that we do not know how to kill one another."</p>
<ul>
<li><a href="https://en.wikipedia.org/wiki/The_Word_for_World_Is_Forest">the word for world is forest</a>, <a href="https://en.wikipedia.org/wiki/Ursula_K._Le_Guin">le guin</a></li>
</ul>
</blockquote>
