<h2>now</h2>
<p><em>last updated december 27th, 2024</em></p>

<p>i've returned to asheville with a renewed commitment to this place</p>
<p>i'm still thinking about infrastructure a lot. currently reading the Hidden Systems graphic novel</p>
<p>i want to go on winter hikes</p>
<p>i want to ride my bedroom bike</p>
<p>i'm re-engaging socially</p>
<p>i quit my job to start the coop</p>
<p>this is, overall, a fantastic time</p>

<h2>a quote</h2>
<blockquote>
<p>i'ma read that bitch</P>
<p>i'ma school that bitch</p>
<p>i'ma take that bitch to college</p>
<p>i'ma give that bitch some knowledge</p>
<p>i'ma read, i'ma read, i'ma read</p>
<p>i'ma read, i'ma read, i'ma read<p>
<p>i'ma read that bitch</p>
<p>i'm that bitch</p>
<ul>
<li><a href="https://www.youtube.com/watch?v=5a7toR0pm1g">ima read</a>, <a href="https://en.wikipedia.org/wiki/Zebra_Katz">zebra katz</a> ft. <a href="https://en.wikipedia.org/wiki/Njena_Reddd_Foxxx">njena reddd foxxx</a></li>
</ul>
</blockquote>
