/*
colors:
text: #ffffff
green: #38471f
brown: #47261f
purple: #471f38
aqua: #1f473d
https://www.sessions.edu/color-calculator/
*/

body {
    max-width: 50em;
    margin: 1em auto;
    line-height: 1.5;
    overflow-wrap: break-word;
    padding: 0 1em;
    background: #38471f;
    color: #ffffff;
    font-family: serif;
}
pre {
    background: #47261f;
    padding: 1em;
    overflow-x: auto;
    overflow-wrap: normal;
}
blockquote {
    background: #47261f;
    padding: 1em;
}
a:link {
    color: #ffffff;
}
a:visited {
    color: #ffffff;
}
h1 {
    font-family: sans-serif;
}
h2, h3, h4, h5, h6 {
    background: #1f473d;
    padding: .25em;
    font-family: sans-serif;
}
hr {
    border: 1px solid white;
}

/* head */
.head {
    background: #471f38;
    text-align: center;
}
div.head {
    padding: 1em;
}

/* foot */
.foot {
    background: #471f38;
    text-align: center;
}
div.foot {
    padding: .1em;
}

img.block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
