<h2>i'm thinking about something but i don't know what yet</h2>

<p><em>december 15th, 2023</em></p>

<p>i'm thinking about something but i don't know what yet</p>

<p>i'm thinking about how computing cuts across my life in so many ways</p>

<p>i'm thinking about how for me it is so deeply political, and also my 9-5</p>

<p>i'm thinking about how self-hosting is often framed as a "hobbyist" activity. i think that i hate this</p>

<p>a hobby has no teeth, no obvious politic. computing defines our entire reality and its political economy is wretched. and how Doing It Yourself is a meaningful way to push against that wretched thing we've been given</p>

<p>there is a book called Palo Alto that i think i need to read</p>

<p>i've been talking to a lover a lot about music recently, about folk punk and by extension diy culture. i don't want "self hosting" do be a "tech hobbyist" activity. i want it to be the local diy music scene that saves people's lives and grounds us in shared creation and ownership</p>

<p>i also want it to change the world but i hate to admit that, it feels naive and arrogant and impossible</p>

<p>it obviously is naive and arrogant and impossible, taken on its own without other actions. i believe that for sure</p>

<p>she's the one who told me about Palo Alto</p>

<p>i have felt Compelled To Post this last week and i've not been able to focus it anywhere. this feels good</p>

<p>i'm going to step away for a moment</p>

<hr>

<p>i came back, and actually i think this post is done</p>
