<h2>presentation.sh</h2>

<p><em>february 18th 2024</em></p>

<p>one thing that's possible to do, if you'd like, is to use a shell script instead of slides to give a presentation</p>

<p>i did this for something recently and it was really fun. i put some example code in git <a href="https://git.bunk.computer/stillgreenmoss/presentationdotsh">which you can look at here</a></p>

