<h2>hurricane helene</h2>

<p><em>october 17th 2024</em></p>

<p>i live in asheville north carolina and a few weeks ago the entire region was catastrophically damaged by severe flooding from hurricane helene</p>

<p>i was there for about two and a half days before evacuating to elsewhere in the state with my partner and our cats, and i'm still here now. lots of things are back to normal, but lots of things are not at all. for me, the main thing keeping me evacuated is that there is still a boil advisory across the city and probably will continue to be one for a while longer. i'll go back when the boil advisory is lifted</p>

<p>pretty much every plan i had for my life is now on hold. after the hurricane there was no water at all, no flushing toilets and nothing comes out of the faucet, in most of the city. that continued for more than two weeks, which is an actual public health crisis, and reveals a severely upsetting truth about the state of municipal infrastructure in asheville</p>

<p>this is basically the only thing going on in my life right now and so i just wanted to make a small post saying something about it. if you want to send money to help the region there are a huge amount of lists of places accepting donations</p>

<p>i wanted to stay in asheville for good, but now i'm not sure i can tolerate what happens to a place when it becomes beholden to tourism for economic activity. i knew that a tourism economy always meant there was some sort of decay or rot in a place, things like unaffordable housing and sorry social services and infrastructure, but to be violently reminded that that tourism rot can actually kill people has thrown all my plans for my future in asheville into question</p>

<p>this is a bad time and i hope that you never have to experience something like it</p>
