<h2>things i am thankful for from 2023</h2>

<p><em>december 27th 2023</em></p>

<p>i'm thankful that i moved back to these mountains</p>

<p>i'm thankful for my chosen family, who love me and who i love</p>

<p>i'm thankful for my biological family, who love me and who i love</p>

<p>i'm thankful for the relationships i had this year and the people i had them with, i learned so much from all of them</p>

<p>i'm thankful for the relationship i'm growing right now and the person i'm growing it with -- you are incredible</p>

<p>i'm thankful for picnic, and every girl who comes -- a stake for pivoting</p>

<p>i'm thankful for qacc and every freak who comes -- a stake for pivoting</p>

<p>i'm thankful for modern medicine (cancer praxis)</p>

<p>i'm thankful for all our funny little situations (queer praxis)</p>

<p>i'm thankful for shared vision</p>

<p><em>i'm thankful for shared vision</em></p>

<p><em>i'm thankful for shared vision</em></p>

<p><em>i'm thankful for shared vision</em></p>

<p>(you could make a religion out of that, but we won't)</p>

<hr>

<p>the end of the year is so intense for me. the end of this year is intense (good). the end of last year was intense (anxious). the end of the previous year was intense (anxious). the end of the previous year was intense (bad).</p>

<p>next year i'd like to continue the trend.</p>

<blockquote>
<img class="block" src="/happy-new-year-2023.jpg" alt="an abstract woodcut-style drawing of some gay freaks dancing">
<ul>
<li><a href="https://en.wikipedia.org/wiki/The_Faggots_%26_Their_Friends_Between_Revolutions">the faggots and their friends between revolutions</a>, <a href="https://en.wikipedia.org/wiki/Larry_Mitchell_(author)">mitchell</a></li>
</ul>
</blockquote>
