<h2>diy sms ftw vs ig, fb, etc.</h2>

<p><em>november 17th 2023</em></p>

<p>some friends and i started working on a project today that i'm very excited about.</p>

<p>we're making a small go program and accompanying guide intended to help local groups, with moderate technical support, self-host infrastructure for sending out sms updates.</p>

<h2>backstory</h2>

<p>i have plans to host an event locally, but i want to notify people about the event without using social media.</p>

<p>after fussing with an email newsletter setup, i decided that email is too hard considering how little most people engage with their email. i don't blame individuals for this, i blame the political economy of email.</p>

<p>so i decided to use sms instead. first i tried using a managed "sms marketing" platform. there were a couple negative parts of this, but mostly it was just too expensive and limited and it obfuscated the underlying compliance details.</p>

<p>so i moved to using twilio. the onboarding experience was much better -- the details of initiating a compliant "campaign" were not obfuscated, and the cost is charged per text. however there are many more technical details to figure out, and if you want full control of your subscription list behavior while spending as little money as possible, you have to write and host your own program that interacts with the twilio api.</p>

<p>we're a group of computer friends, so we're excited and able to make all that happen ourselves. but most people can't do that, and i know i'm not alone in wanting to be less reliant on social media for following local events that i care about. maybe sms can be one of the digital equivalents of touching grass, much like email when used right.</p>

<p>so we're going to try and build this sms service for self-hosting, and clearly document it. a nontechnical person or group won't be able to host this themselves -- but if they can find a local techie or computer club who's willing to help, then they'll have a highly effective, social-media-free, but traditionally hard-to-access medium for sending updates at their disposal.</p>

<p>if you know of something like this that already exists, please send me an email!</p>

<p>i'm really excited and i hope it works out :)</p>
