<h2>init</h2>

<p><em>september 30th 2023</em></p>

<p>my name is maren. i'm just another weird girl. i'm somewhat tall.</p>

<p>i use linux and care about foss and all that, but more than that i like doing computers irl with people i love towards local community ends. i'm still learning how to move that way.</p>

<p>i'm inspired by cooperativism and permacomputing and diy culture and other things too.</p>
